# PostgreSQL
POSTGRES_USER=n8n
POSTGRES_PASSWORD=tu_password
POSTGRES_DB=n8n

# n8n
N8N_HOST=localhost
N8N_PORT=5678
N8N_PROTOCOL=http

# Zona horaria
TZ=America/Bogota
GENERIC_TIMEZONE=America/Bogota