# PostgreSQL
POSTGRES_USER=n8n
POSTGRES_PASSWORD=change_me
POSTGRES_DB=n8n

# n8n
N8N_HOST=localhost
N8N_PORT=5678
N8N_PROTOCOL=http

# Ollama
OLLAMA_BASE_URL=http://ollama:11434

# Timezone
TZ=America/Bogota
GENERIC_TIMEZONE=America/Bogota
